<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Collapsible sidebar using Bootstrap 3</title>

        <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- Our Custom CSS -->
        <!-- Scrollbar Custom CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
        <!--Index CSS-->
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <!--Index JS-->
        <script type="text/javascript">
        	var globalJson= '<%- val2 %>';
        	var globalvalue= 1;
            var globalcountries= [0];
        </script>

    </head>

    <body>



        <div class="wrapper">
            <!-- Sidebar Holder -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3 id="myh3"><img style="width: 100%;" src="/images/logo.png" class="img-rounded" alt=""></h3></h3>
                </div>

                <ul class="list-unstyled components mainmenu">
                    <p>Monedas Disponibles</p>

                    <% for (var i = 0; i < val.paises.length; i++) { %>
                    <li class="active"><a onclick="hrefcheck(this.id)" id="pais-<%=i%>" ><img src="<%= val.paises[i].bandera%>" class="img-rounded" alt=""><%=val.paises[i].dim%>
    							<span style="float: right;">
    								<% if(i==0){ %>
    								<input hidden style="float: right;" type="checkbox" value="0" id="pais-<%=i%>-1" checked>
    								<i id="pais-<%=i%>-2" class="glyphicon glyphicon-star yellow"></i>
    								<% }else{ %>
    								<input hidden style="float: right;" type="checkbox" value="0" id="pais-<%=i%>-1" >
    								<i id="pais-<%=i%>-2" class="glyphicon glyphicon-star-empty yellow"></i>
    								<% } %>
    							</span></a></li>
    				<% } %>

                    
                </ul>

                
            </nav>

            <!-- Page Content Holder -->
            <div id="content">

                <nav class="navbar navbar-default">
                    <div class="container-fluid">

                        <div class="navbar-header">
                            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                                <i class="glyphicon glyphicon-refresh"></i>
                                <span></span>
                            </button>
                        </div>
                        <div style="float: right;">
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        </div>
                        </div>
                    </div>
                    <div id="maincontent">
                    	<ul id="mycountry" class="list-group">
  							
  						
  							<li id="country-0" class="list-group-item d-flex justify-content-between align-items-center"><img src="<%= val.paises[0].bandera%>" class="img-rounded" alt=""><%= val.paises[0].nombre%>
    							<span style="float: right;"><span><img style="float: left;" src="<%= val.paises[0].moneda%>" class="img-rounded" alt=""></span><span><input onkeyup="convert(this.id)" id="country-0-1" style="float: right;" type="number" value="<%= val.paises[0].valor%>" class="form-control"></span></span>
  							</li>
  							
						</ul>
                	</div>
                </nav>
            </div>
        </div>





        <!-- jQuery CDN -->
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <!-- Bootstrap Js CDN -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- jQuery Custom Scroller CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
               

                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar, #content').toggleClass('active');
                    $('.collapse.in').toggleClass('in');
                    $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                });
            });
        </script>
        <script src="script/script.js"></script>
        <script src="script/ajax.js"></script>
            
    </body>
</html>
